# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [62]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [63]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [64]:
orders.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [65]:
customer_ordered= orders.loc[:,['CustomerID','amount_spent']].groupby(['CustomerID'], as_index = False).sum().sort_values(by = ['amount_spent'],ascending= False)
customer_ordered.head()

      CustomerID  amount_spent
1690       14646     280206.02
4202       18102     259657.30
3729       17450     194550.79
3009       16446     168472.50
1880       14911     143825.06

In [66]:
quantile95 = customer_ordered['amount_spent'].quantile(0.95)
quantile95
quantile75 = customer_ordered['amount_spent'].quantile(0.75)
quantile75

1661.6400000000003

In [67]:
customer_ordered['Customer_Type'] = customer_ordered['amount_spent'].apply(lambda x:'Preferred' if x > quantile75 and x < quantile95 else 'Vip' if x>=quantile95 else 'Normal')
customer_ordered.head()

      CustomerID  amount_spent Customer_Type
1690       14646     280206.02           Vip
4202       18102     259657.30           Vip
3729       17450     194550.79           Vip
3009       16446     168472.50           Vip
1880       14911     143825.06           Vip

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [69]:
# First we adjust the df to have just customerID and its type
customer_type = customer_ordered[['CustomerID','Customer_Type']]

In [70]:
# Then we merge the data to the orders df
customer_type['Country'] = orders['Country']
customer_type.shape

(4339, 3)

In [77]:
country_breakdown= customer_type.groupby(['Country','Customer_Type'],as_index=False).agg(['count'])

In [87]:
country_breakdown

                             CustomerID
                                  count
Country        Customer_Type
Australia      Normal                 9
               Preferred              4
               Vip                    1
EIRE           Normal                15
               Preferred              8
               Vip                    2
France         Normal                19
               Preferred              8
Germany        Normal                29
               Preferred              7
Netherlands    Normal                 2
Norway         Normal                56
               Preferred              8
               Vip                    9
Spain          Normal                 3
               Preferred              1
               Vip                    1
Switzerland    Normal                 5
               Preferred              1
United Kingdom Normal              3116
               Preferred            831
               Vip                  204